body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.container {
  padding: 0;
}
/* header*/

.header {
  margin: 39px 0 37px 0;
}
.logo {
  padding-right: 0;
}
.header__logo {
  padding-top: 15px;
}
.header__description {
  font-size: 0.75rem;
  font-weight: 400;
  color: #29282e;
  padding: 43px 0 4px 41px;
}
.header__contacts {
  font-size: 0.875rem;
  font-weight: 400;
  vertical-align: middle;
}
.header span {
  display: flex;
  align-items: center;
}
.header__contacts__adress:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background-image: url(../img/map-marker.png);
  margin-right: 12px;
}
.header__contacts__phone:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background-image: url(../img/mobile.png);
  margin-right: 12px;
}
.header__menu__list {
  padding: 39px 0 21px 0;
  margin-bottom: 0;
}
.header__menu__item {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  list-style: none;
}
.header__menu__item a {
  color: #44a001;
}
.btn-request {
  border: 3px solid #8bcf59;
  border-radius: 25px;
  color: #29282e;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 23px 15px 18px 15px;
  margin-top: 39px;
  cursor: pointer;
}
.btn-request:focus {
    outline: none;
}

/* slider */

.slider {
  margin-bottom: 29px;
}
.carousel__promotion {
  position: absolute;
  top: 288px;
  left: 30px;
  width: 105px;
  color: #ffffff;
  background-color: #f44336;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-left: 30px;
  margin-bottom: 22px;
  text-align: center;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 560px;
  height: 280px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #29282e;
  opacity: 0.9;
}
.carousel-caption h1 {
  padding: 19px 20px 16px 50px;
  text-align: start;
}
.carousel-caption p {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 52px;
  padding-bottom: 60px;
  text-align: start;
}
.carousel-indicators {
  position: absolute;
  top: 50px;
  left: 40px;
  margin-left: 0;
  z-index: 15;
  display: flex;
  justify-content: start;
  list-style: none;
}
.carousel-indicators li {
  position: relative;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: #3d7abc;
}
.carousel-indicators .active {
  background-color: #fff;
}

/* services */

.services-block {
  margin-bottom: 27px;
}
.services-block h5 {
  margin-top: 40px;
  margin-bottom: 22px;
  color: #29282e;
  font-weight: 700;
}
.services__content {
  width: 270px;
  height: 270px;
}
.services__content__progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  width: 270px;
  height: 160px;
  background-image: linear-gradient(to top, #29282e 0%, rgba(41, 40, 46, 0) 100%);
}

/* points */

.points {
  margin-top: 87px;
}
