body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #29282e;
}

.container-my {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* header*/

.header {
  margin: 39px 0 37px 0;
}
.logo {
  padding-right: 0;
}
.header__logo {
  padding-top: 15px;
}
.header__description {
  font-size: 0.75rem;
  font-weight: 400;
  padding-top: 43px;
  width: 152px;
}
.menu {
  width: 485px;
  margin-left: 40px;
}
.header__contacts {
  font-size: 0.875rem;
  font-weight: 400;
  vertical-align: middle;
}
.header span {
  display: flex;
  align-items: center;
}
.header__contacts__adress:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background: url(../img/map-marker.png) no-repeat;
  margin-right: 12px;
}
.header__contacts__phone:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background: url(../img/mobile.png) no-repeat;
  margin-right: 12px;
}
.header__menu__list {
  padding: 36px 0 21px 0;
  margin-bottom: 0;
}
.header__menu__item {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  list-style: none;
}
.header__menu__item a {
  color: #44a001;
}
.btn {
  position: absolute;
  right: 0;
  padding-right: 0;
}
.btn-request {
  border: 3px solid #8bcf59;
  border-radius: 25px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 23px 33px 18px 32px;
  margin-top: 39px;
  cursor: pointer;
}
.btn-request:focus {
    outline: none;
}

/* slider */

.slider {
  margin-bottom: 29px;
}
.owl-carousel {
  width: 1170px;
  height: 630px;
}
.carousel__promotion {
  position: absolute;
  top: 288px;
  left: 15px;
  width: 105px;
  color: #ffffff;
  background-color: #f44336;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding: 18px 23px 13px 2px;
  margin-left: 30px;
  text-align: center;
  z-index: 10;
}
.carousel-caption {
  position: absolute;
  top: 350px;
  bottom: 0;
  left: 15px;
  width: 560px;
  height: 280px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #29282e;
  opacity: 0.9;
}
.carousel-caption h1 {
  padding: 19px 20px 16px 50px;
  text-align: start;
}
.carousel-caption p {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 52px;
  padding-bottom: 60px;
  text-align: start;
}
.owl-dots {
  position: absolute;
  top: 50px;
  left: 40px;
  margin-left: 0;
  z-index: 15;
  display: flex;
  justify-content: start;
  list-style: none;
}
.owl-dot {
  position: relative;
  flex: 0 1 auto;
  width: 17px;
  height: 17px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid #fff !important;
}
.owl-dot:focus {
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active {
  background-color: #fff;
}
.owl-dot span {
  opacity: 0;
}

/* services */

.services-block {
  margin-bottom: 27px;
}
.services-block h5 {
  margin-top: 40px;
  margin-bottom: 22px;
  color: #29282e;
  font-weight: 700;
}
.pool h5 {
  border: 5px solid #ece9e7;
  padding: 30px 43px 28px 50px;
  width: 525px;
  margin: 0;
}
.services__content {
  width: 270px;
  height: 270px;
}
.services__content__progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  width: 270px;
  height: 160px;
  background-image: linear-gradient(to top, #29282e 0%, rgba(41, 40, 46, 0) 100%);
  padding-top: 70px;
  padding-left: 30px;
}
.services__content__progress p {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 400;
  margin-left: 7px;
}
.star {
  width: 8px;
  height: 13px;
  background-color: #fff;
  margin-right: 2px;
}
.star-1 {
  width: 8px;
  height: 13px;
  background-color: #fff;
  margin-right: 2px;
  opacity: 0.3;
}


/* points */

.points {
  margin: 87px 0 97px 0;
  background-color: #efebe9;
}
.points__title h2 {
  padding-top: 112px;
  padding-bottom: 15px;
  padding-left: 52px;
  font-size: 2.5rem;
  font-weight: 700;
}
.points__content {
  padding-left: 52px;
  padding-right: 100px;
  padding-top: 41px;
  width: 405px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}
.points__item {
  display: flex;
  align-items: center;
  padding-bottom: 27px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.points__item:first-child:before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/job.png) 50% 50% no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  border-radius: 50%;
  margin-right: 38px;
}
.points__item:nth-child(2):before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/time.png) 50% 50% no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  border-radius: 50%;
  margin-right: 38px;
}
.points__item:last-child:before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/quality.png) 50% 50% no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  border-radius: 50%;
  margin-right: 38px;
}

/* process */

.process {
  background: url(../img/house.png) center no-repeat;
}
.process__content {
  margin-bottom: 73px;
  margin-right: 134px;
}
.process__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 52px;
  padding-bottom: 96px;
}
.process__number {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  color: #d9d9d9;
  margin-right: 36px;
}
.process__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

/* safity */

.safity {
  background: url(../img/bg-safity.png) right bottom no-repeat;
}
.safity__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 52px;
  padding-bottom: 68px;
}
.safity__license {
  margin-left: 45px;
  margin-bottom: 142px;
}

/* map */

.map__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 32px;
}
.my_map {
  height: 600px;
  width: 100%;
}

/* teviews */

.reviews__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 70px;
  margin-top: 100px;
}
.reviews__photo {
  padding-top: 143px;
}
.reviews__block {
  width: 663px;
  height: 450px;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  background-color: #fff;
}
.reviews__avatar {
  padding-top: 50px;
  padding-right: 29px;
  padding-left: 50px;
}
.reviews__header {
  padding-top: 77px;
}
.reviews__header h6 {
  font-size: 1rem;
  font-weight: 700;
}
.reviews__header p {
  font-size: 0.75rem;
  font-weight: 400;
  font-color: #a6a6a6;
}
.reviews__block__cont {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  padding-top: 38px;
  padding-right: 113px;
  padding-bottom: 42px;
}
.reviews__block__details {
  margin-right: 71px;
}
.details__description h6 {
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}
.details__description p {
   font-size: 0.75rem;
   font-weight: 400;
}
.reviews__block__details a {
  color: #8bcf59;
  font-size: 0.75rem;
  font-weight: 400;
  padding-top: 19px;
}

