body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #29282e;
}

.container-my {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* header*/

.header {
  margin: 39px 0 37px 0;
}
.logo {
  padding-right: 0;
}
.header__logo {
  padding-top: 15px;
}
.header__description {
  font-size: 0.75rem;
  font-weight: 400;
  padding-top: 43px;
  width: 152px;
}
.menu {
  width: 485px;
  margin-left: 40px;
}
.header__contacts {
  font-size: 0.875rem;
  font-weight: 400;
  vertical-align: middle;
}
.header span {
  display: flex;
  align-items: center;
}
.header__contacts__adress:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background: url(../img/map-marker.png) no-repeat;
  margin-right: 12px;
}
.header__contacts__phone:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background: url(../img/mobile.png) no-repeat;
  margin-right: 12px;
}
.header__menu__list {
  padding: 36px 0 21px 0;
  margin-bottom: 0;
}
.header__menu__item {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  list-style: none;
}
.header__menu__item a {
  color: #44a001;
}
.btn {
  position: absolute;
  right: 0;
  padding-right: 0;
}
.btn-request {
  border: 3px solid #8bcf59;
  border-radius: 25px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 19px 33px 14px 32px;
  margin-top: 32px;
  cursor: pointer;
}
.btn-request:focus {
    outline: none;
}

/* slider */

.slider {
  margin-bottom: 29px;
}
.owl-carousel {
  width: 1170px;
  /*height: 630px;*/
}
.carousel__promotion {
  position: absolute;
  top: 306px;
  bottom: 315px;
  left: 0;
  width: 105px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-left: 45px;
  margin-bottom: 17px;
  padding: 0;
  text-align: center;
  z-index: 10;
}
.carousel__promotion span {
  padding: 18px 23px 13px 22px;
  background-color: #f44336;
}
.carousel-caption {
  position: absolute;
  top: 367px;
  bottom: 0;
  left: 0;
  width: 560px;
  margin-left: 45px;
  padding: 0;
}
.carousel-caption h1 {
  position: absolute;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-align: start;
  line-height: 1.1;
}
.carousel-caption span.first{
  background-color: #29282e;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 20px;
}
.carousel-caption span.second{
  background-color: #29282e;
  padding-right: 20px;
  padding-left: 20px;
}
.carousel-caption span.third{
  background-color: #29282e;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}
.carousel-caption p {
  position: absolute;
  bottom: 50px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 33px;
  text-align: start;
}
.carousel-caption p span{
  background-color: #29282e;
  padding: 16px 19px 10px 22px;
}
.owl-dots {
  position: absolute;
  top: 50px;
  left: 40px;
  margin-left: 0;
  z-index: 15;
  display: flex;
  justify-content: start;
  list-style: none;
}
.owl-dot {
  position: relative;
  flex: 0 1 auto;
  width: 17px;
  height: 17px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid #fff !important;
}
.owl-dot:focus {
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active {
  background-color: #fff;
}
.owl-dot span {
  opacity: 0;
}

/* services */

.services-block {
  margin-bottom: 27px;
}
.services-block h5 {
  margin-top: 40px;
  margin-bottom: 22px;
  padding-left: 32px;
  color: #29282e;
  font-weight: 700;
}
.pool h5 {
  border: 5px solid #ece9e7;
  padding: 30px 43px 28px 50px;
  width: 525px;
  margin: 0;
}
.services__content {
  width: 270px;
  height: 270px;
}
.services__content {
  position: relative;
}
.services__content:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8bcf59;
  opacity: 0;
  cursor: pointer;
}
.services__content:hover:after {
  opacity: 0.78;
}
.services__content__progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 160px;
  background-image: linear-gradient(to top, #29282e 0%, rgba(41, 40, 46, 0) 100%);
  padding-top: 70px;
  padding-left: 30px;
}
.services__content__progress p {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 400;
  margin-left: 7px;
}
.services__time {
  align-items: baseLine;
}
.star {
  width: 5px;
  height: 10px;
  background-color: #fff;
  margin-right: 2px;
}
.star-1 {
  width: 5px;
  height: 10px;
  background-color: #fff;
  margin-right: 2px;
  opacity: 0.3;
}


/* points */

.points {
  margin-top: 87px;
  background: url(../img/bg-effect.png) no-repeat;
  background-size: cover;
}
.block-title {
  margin-top: 90px;
  width: 93px;
  height: 43px;
}
.block-title.white {
  background-color: #fff;
}
.points__title {
  margin-left: -15px;
}
.points__title h2 {
  padding-bottom: 15px;
  padding-left: 52px;
  margin-top: -25px;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 100;
}
.points__content {
  padding-left: 52px;
  padding-top: 41px;
  width: 405px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}
.points__item {
  display: flex;
  align-items: center;
  padding-bottom: 27px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.points__item:first-child:before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/job.png) 50% 50% no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  border-radius: 50%;
  margin-right: 38px;
}
.points__item:nth-child(2):before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/time.png) 50% 50% no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  border-radius: 50%;
  margin-right: 38px;
}
.points__item:last-child:before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/quality.png) 50% 50% no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  border-radius: 50%;
  margin-right: 38px;
}

/* process */

.process__content {
  margin-bottom: 73px;
  margin-right: 134px;
}
.process__content span {
  white-space: pre;
}
.process .block-title {
  background: url(../img/bg-block-title.png) no-repeat;
}
.process__title {
  margin-bottom: 100px;
}
.process__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 52px;
  margin-top: -25px;
}
.row-conformity {
  margin-top: 81px;
}
.row.second {
  padding-top: 87px;
}
.process__number {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  color: #d9d9d9;
  margin-right: 36px;
}
.process__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}
.wrap {
  position: relative;
  top: -180px;
  margin-bottom: -125px;
}
.wrap-1 {
  position: relative;
  right: -100px;
}

/* safity */

.safity {
  background: url(../img/bg-safity.png) 100% bottom no-repeat,
  url(../img/bg-logo.png) 73% 65% no-repeat;
}
.safity .block-title {
  background: url(../img/bg-block-title.png) no-repeat;
}
.safity__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 52px;
  padding-bottom: 68px;
  margin-top: -25px;
}
.safity__license {
  margin-left: 45px;
  margin-bottom: 142px;
}

/* map */

.map .block-title {
  background: url(../img/bg-block-title.png) no-repeat;
}
.map__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 32px;
  margin-top: -25px;
}
.my_map {
  height: 600px;
  width: 100%;
}

/* teviews */

.reviews .block-title {
  background: url(../img/bg-block-title.png) no-repeat;
}
.reviews__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 70px;
  margin-top: -25px;
}
#carousel-reviews {
  padding-left: 15px;
}
.reviews__photo {
  padding-top: 72px;
}
.reviews__block {
  width: 699px;
  height: 450px;
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  background-color: #fff;
}
.reviews__avatar {
  padding-top: 50px;
  padding-right: 29px;
  padding-left: 50px;
}
.owl-carousel .owl-item .reviews__avatar img {
  width: auto;
}
.reviews__header {
  padding-top: 77px;
}
.reviews__header h6 {
  font-size: 1rem;
  font-weight: 700;
}
.reviews__header p {
  font-size: 0.75rem;
  font-weight: 400;
  font-color: #a6a6a6;
}
.reviews__block__intro {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  padding-top: 38px;
  padding-right: 113px;
  padding-bottom: 42px;
}
.details__description h6 {
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}
.details__description p {
   font-size: 0.75rem;
   font-weight: 400;
}
.reviews__block__details a {
  color: #8bcf59;
  font-size: 0.75rem;
  font-weight: 400;
  padding-top: 19px;
}
.reviews__block__details {
 /* margin-left: 140px;*/
  height: 55px;
  margin-top: -88px;
}
.owl-carousel .owl-item img {
  width: auto;
  position: static;
  cursor: pointer;
}
.reviews__contant.owl-carousel.owl-theme.owl-nav {
  position: absolute;
  top: 50px;
  left: 40px;
  margin-left: 0;
  z-index: 15;
  display: flex;
  justify-content: start;
  list-style: none;
}
.next-button,
.prev-button {
  width: 27px;
  height: 43px;
}
.next-button {
  position: absolute;
  margin-top: 178px;
  right: 10px;
}
.prev-button {
  position: absolute;
  left: 0;
  top: 400px;
}

.btn-show {
  position: relative;
  width: 229px;
  background-color: #8bcf59;
  border: 3px solid #8bcf59;
  border-radius: 0;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 30px 19px 33px;
  letter-spacing: 1.2px;
  color: #fff;
}

/* partners */
.partners {
  margin: 130px 0;
}
.partners .block-title {
  background: url(../img/bg-block-title.png) no-repeat;
}
.partners__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 90px;
  margin-top: -25px;
}
/*  added custom styles, because pictures of different sizes  */
.partners__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 15px;
}
.partners__item:nth-child(4n+1) {
  bottom: 30px;
}
.partners__item:nth-child(4n+4) {
  top: 30px;
}
/* feedback */

.feedback {
  background: url(../img/bg-effect.png) no-repeat;
  background-size: cover;
}
.feedback__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 70px;
  margin-top: -25px;
}
.form__content,
.form__consent {
  margin-bottom: 42px;
}
.form__consent {
  height: 55px;
  align-items: center;
}
.form-control {
  width: 320px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #b9b2b0;
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 22px;
  margin-right: 37px;
  border: 0;
  border-radius: 0;
  outline: none;
}
.form-control:focus,
.form-control.textarea:focus {
  box-shadow: 0 5px 30px rgba(7, 17, 35, 0.05);
  outline: none;
}
.form-control.textarea {
  width: 460px;
  background-color: #fff;
  color: #b9b2b0;
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 21px;
  border: 0;
  border-radius: 0;
  outline: none;
}
.form-group label {
  font-size: 0.6875rem;
  font-weight: 400;
}
.form-check-input {
  width: 20px;
  height: 20px;
  color: #44a001;
  background-color: #fff;
}
/*
.form-check .form-check-input:checked~.form-check-label:before {
  background-color: #fff;
}*/
.form-check-label {
  font-size: 0.875rem;
  font-weight: 400;
}
.form-check-label a {
  color: #44a001;
}
.form-check-label a:hover {
  text-decoration: none;
}
.btn-send {
  width: 162px;
  border-radius: 25px;
  background-color: #8bcf59;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 21px 36px 18px 39px;
  margin-right: 68px;
  border: 0;
  outline: none;
}

/* contacts */

.contacts {
  margin: 87px 0;
  background: url(../img/logo-contacts.png) 88% 100% no-repeat;
}
.contacts__map {
  width: 670px;
  height: 370px;
}
.contacts .block-title {
  background: url(../img/bg-block-title.png) no-repeat;
}
.contacts__title .block-title {
  margin-top: 60px;
}
.contacts__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 52px;
  margin-bottom: 64px;
  margin-top: -25px;
}
.contacts__content {
  margin-left: 52px;
}
.contacts__details {
  padding-left: 0;
}
.contacts__menu {
  list-style: none;
  padding-left: 0;
}
.contacts__menu a {
  color: #44a001;
}
.contacts__item {
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 20px;
  align-items: center;
}
.contacts__adress:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background: url(../img/map-marker.png) no-repeat;
  margin-right: 12px;
}
.contacts__phone:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 25px;
  background: url(../img/mobile.png) no-repeat;
  margin-right: 12px;
}
.contacts__mail:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 16px;
  background: url(../img/mail.png) no-repeat;
  margin-right: 12px;
}

/* footer */
.footer {
  background-color: #29282e;
  padding: 72px 0;
}
.footer__logo {
  margin-bottom: 50px;
}
.footer__copyright p {
  color: #767578;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer__services,
.footer__menu {
  padding: 30px 0 0 0;
  height: 100%;
  justify-content: space-between;
}
.footer__item:first-child a,
.footer__menu__title a {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;`
}
.footer__menu .footer__menu__title {
  padding-bottom: 10px;
}
.footer__item {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
.footer__item a {
  color: #8bcf59;
}
.footer__item a:hover {
  text-decoration: none;
}
.footer__consent {
  padding-top: 70px;
}
.footer__consent a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
.footer__consent a:hover {
  text-decoration: none;
}
.footer__social {
  padding-top: 30px;
}
.footer__social p {
  color: #767578;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
.footer__icons {
  padding-left: 0;
}
.icons__item a {
  color: #fff;
  font-size: 26px;
}

